<div class="landing-container">
	<div class="logogo">
		<%= link_to(root_url, class: "logo_long") do %>
	    C<i class="fa fa-clock-o"></i>UNTD<i class="fa fa-clock-o"></i>WNT<i class="fa fa-clock-o"></i>
	  <% end %>
	</div>

	<h2>Trending countdowns</h2>
	<% @countdowns.each do |countdown| %>
		<p><%= link_to countdown.name, countdown %></p>
<% end %>
</div>