// Place all the styles related to the Countdowns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// COUNTDOWN SHOW PAGE
#container_show {
	margin: auto;
	margin-top: 15%;
	width: 800px;
	text-align: center;
}

#data {
	display: none;
}

#countdown {
    color: #fff;
    display: inline-block;
}

.top_holder {
	margin-right: 4em;
	display: inline-block;
	&:last-child {
	margin-right: 0em;
	}
}

.number {
  display: block;
  font-size: 8em;
  color: #c0392b;
  &:hover {
  	font-weight: 900;
  }
}

.text {
	font-size: 2em;
	display: block;
	color: #34495e;
	&:hover {
		color: #c0392b;
	}
}

#name {
	margin-top: 40px;
	color: #95a5a6;
	font-size: 2em;
	letter-spacing: 2px;
}


// SHOW MEDIA QUERIES
@media (max-width: 1100px) {
  #container {
    margin-top: 25%;
  }
}

@media (max-width: 1000px) {
  #container {
    margin-top: 25%;
  }
}

@media (max-width: 800px) {
  #container {
    margin-top: 30%;
  }
	.number {
  	font-size: 6em;
  }
  .top_holder {
	margin-right: 2em;
	display: inline-block;
	}
}

@media (max-width: 700px) {
  #container {
    margin-top: 45%;
    width: 600px;
  }
  .number {
  	font-size: 5em;
  }
	.text {
  	font-size: 2em;
  }
}

// CREATE PAGE
.container_new_edit {
	width: 40%;
	margin: auto;
	text-align: center;
}
